<ion-content>
	<ion-header>
  	<ion-toolbar>
			<div class="show-header">
    		<ion-title> {{ show?.name }} </ion-title>
				<ion-icon *ngIf="!show?.isLiked" name="heart-outline" size="large"></ion-icon>
				<ion-icon *ngIf="show?.isLiked" name="heart" size="large"></ion-icon>
			</div>
  	</ion-toolbar>
	</ion-header>

	<ion-card>
		<img src="{{ imageUrl }}">
		<ion-card-header>
			<ion-card-title>Overview</ion-card-title>
		</ion-card-header>
	
		<ion-card-content>
			{{ show?.overview }}
		</ion-card-content>
	</ion-card>
		
	<ion-card>
		<ion-card-header>
			<div class="show-card-header">
				<ion-card-title>Information</ion-card-title>
				<ion-button fill="outline" size="small" href="{{show?.homepage}}">Show homepage</ion-button>
			</div>
		</ion-card-header>
		<ion-item>
			<ion-label>Genre</ion-label> {{ genres }}
		</ion-item>
		<ion-item>
			<ion-label>Rating</ion-label> {{ show?.vote_average }} / 10 ({{ show?.vote_count }})
		</ion-item>
		<ion-item>
			<ion-label>Number of seasons</ion-label> {{ show?.number_of_seasons }}
		</ion-item>
		<ion-item>
			<ion-label>Number of episodes</ion-label> {{ show?.number_of_episodes }}
		</ion-item>
		<ion-item>
			<ion-label>Episode length</ion-label> {{ show?.episode_run_time }}m
		</ion-item>
		<ion-item>
			<ion-label>First air date</ion-label> {{ getFormatedDate(show?.first_air_date) }}
		</ion-item>
		<ion-item>
			<ion-label>Last air date</ion-label> {{ getFormatedDate(show?.last_air_date) }}
		</ion-item>
		<ion-item>
			<ion-label>Language</ion-label> {{ show?.languages[0] }}
		</ion-item>
		<ion-item>
			<ion-label>Type</ion-label> {{ show?.type }}
		</ion-item>
		<ion-item>
			<ion-label>Status</ion-label> {{ show?.status }}
		</ion-item>
		<ion-item>
			<ion-label>Tagline</ion-label> {{ show?.tagline }}
		</ion-item>
	</ion-card>

	<ion-card>
		<ion-item>
			<ion-label>Original name</ion-label> {{ show?.original_name }}
		</ion-item>
		<ion-item>
			<ion-label>Original language</ion-label> {{ show?.original_language }}
		</ion-item>
		<ion-item>
			<ion-label>Origin country</ion-label> {{ show?.origin_country }}
		</ion-item>
	</ion-card>
</ion-content>

<ion-toolbar>
	<ion-tabs>
  	<ion-tab-bar slot="bottom">
    	<ion-tab-button (click)="goBack()">
      	<ion-icon name="chevron-back-outline"></ion-icon>
    	</ion-tab-button>
  	</ion-tab-bar>
	</ion-tabs>
</ion-toolbar>


