.show-header {
	display: flex;
	align-items: center;
	padding-right: 20px;
}

.show-card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.show-genre {
	padding-left: 5px;
}