<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ion-list-header>WatchList Menu</ion-list-header>
					<ion-menu-toggle auto-hide="false">
            <ion-item lines="none" [routerLink]="['/home']">
							<ion-icon slot="start" name="search-outline"></ion-icon>
							<ion-label>Search shows</ion-label>
						</ion-item>
						<ion-item lines="none" [routerLink]="['/favourite-show-list']">
							<ion-icon slot="start" name="heart-outline"></ion-icon>
							<ion-label>Favourite shows</ion-label>
						</ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
