<ion-header>
  <ion-toolbar>
		<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
		<div class="favourite-show-list-header">
    	<ion-title>Favourite shows</ion-title>
			<ion-icon name="trash-outline" size="large" (click)="unlikeAllShows()"></ion-icon>
		</div>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
    <ion-item *ngFor="let show of shows">
      <ion-label class="ion-text-wrap" [routerLink]="['/show-detail', show.id]">{{ show.name }}</ion-label>
			<ion-icon name="close-outline" (click)="unlikeShow(show.id)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
