<ion-header [translucent]="true">
  <ion-toolbar>
		<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
		<div class="show-list-header">
    	<ion-title> Show list </ion-title>
			<ion-icon name="search-outline" size="large" (click)="showOrHideSearchbar()"></ion-icon>
		</div>
  </ion-toolbar>
	<ion-searchbar 
		*ngIf="showSearchbar" 
		showClearButton="always"
		animated="true"
		(ionChange)="setSearchBarValue($event); searchShows()" 
		(ionClear)="clearShows()"
	></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let show of shows">
      <ion-label class="ion-text-wrap" [routerLink]="['/show-detail', show.id]">{{ show.name }}</ion-label>
			<ion-icon *ngIf="!show.isLiked" name="heart-outline" (click)="likeOrUnlikeShow(show.id, true)"></ion-icon>
			<ion-icon *ngIf="show.isLiked" name="heart" (click)="likeOrUnlikeShow(show.id, false)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadShows($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
